    body {
      font-family: Arial, sans-serif;
      background: #002b5c;
    }
    @keyframes pulse {
      0%, 100% {
        opacitiy: 1;
      }
      50% {
        opacity: 0.4;
      }
    }
    .logo img {
      display: block;
      max-width: 400px;
      max-height: 70px;
      margin: 10px auto;
      font-size: 36px;
      animation: pulse 2s infinite;
    }
    .promo {
      width: 100%;
      max-width: 400px;
      margin: 10px auto;
    }
    .promo img {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 10px;
      box-shadow: 0 3px 20px black;
    }
    .container {
      display: flex;
      width: 100%;
      max-width: 400px;
      align-items: center;
      text-align: center;
      gap: 5px;
      font-size: 24px;
      line-height: 30px;
      margin: 0 auto;
    }
    @keyframes shake {
      0% { transform: translatex(0); }
      25% { transform: translatex(-3px); }
      50% { transform: translatex(3px); }
      75% { transform: translatex(-3px); }
      100% { transform: translatex(0); }
    }
    .login, .register {
      background: #f00;
      width: 50%;
      border: 3px solid gold;
      border-radius: 25px;
      height: 30px;
      font-weight: bold;
      box-shadow: 0 1px black;
      animation: shake 3s infinite;
    }
    .container a {
      color: white;
      display: block;
    }
    a:hover {
      color: #003f95;
    }
    .modal-btn {
      text-align: center;
      margin: 10px auto;
      margin-top: -5px;
    }
    .modal-btn button {
      background: none;
      border: none;
      color: yellow;
      font-size: 16px;
    }
    .modal-btn button:hover {
      color: white;
      cursor: pointer;
    }
    .modal {
      display: none;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #0005;
    }
    @keyframes pop {
      0% { transform: translateY(20px); opacity: 0.2; }
      50% { transform: translateY(10px); opacity: 0.7; }
      100% { transform: translateY(0); opacity: 1; }
    }
    .modal-content {
      flex-direction: column;
      background: #d1d5da;
      margin: auto;
      width: 80%;
      max-height: 80%;
      max-width: 350px;
      text-align: center;
      border-radius: 20px;
      box-shadow: 0 1px 10px black;
      animation: pop 1.5s ease-out forwards;
    }
    a {
      text-decoration: none;
      color: black;
    }
    .modal-content p {
      text-align: left;
      padding-left: 15px;
      padding-right: 15px;
    }
    .btn-in-modal {
      max-width: 300px;
    }
    #close-btn {
      background: none;
      border: none;
      margin-bottom: 20px
    }
    #close-btn:hover {
      color: red;
      cursor: pointer;
    }
    .outline {
      background: none;
      height: 90%;
      width: 90%;
      margin: 15px auto;
      border: 4px solid #626364;
      border-radius: 10px;
    }
